@import url("../../../Home.css");

.overview {
	background-color: #f4f3ef;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	background-color: var(--white);
	padding: 20px;
	border-radius: 10px;
}

.overview-title {
	text-align: center;
	width: 280px;
	margin: 20px auto;
	border-bottom: 12px solid rgb(15, 183, 26);
}

.overview-title p {
	color: rgb(15, 183, 26);
	padding: 0;
	margin: 0;
}

.overview p {
	font-size: 16px;
}

.charts-container {
	margin: 50px auto;
}

.loading{
	width: 140px;
}

.chart-card {
	width: 300px;
	margin: 0 0 20px;
}

.chart-card > div > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 900px) {
	.overview {
		padding: 10px;
	}

	.overview-title {
		width: 380px;
	}

	.charts-container {
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
		gap: 50px;
	}

	.chart-card {
		width: 320px;
	}
}
