@import url("../../../Home.css");

.overview {
	background-color: #f4f3ef;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	background-color: var(--white);
	padding: 20px;
	border-radius: 10px;
}

.overview-title {
	text-align: center;
	width: 280px;
	margin: 20px auto;
	border-bottom: 12px solid #0e8d0e;
}

.overview-title p:first-child {
	font-size: 26px;
	font-weight: 700;
}
.overview-title p:last-child {
	color: #0e8d0e;
	font-weight: 800;
	padding: 0;
	margin: 0;
}

.overview p {
	font-size: 16px;
}
.loading {
	width: 140px;
}

.loading {
	width: 140px;
}

.chart-card {
	width: 300px;
	margin: 0 0 20px;
}

.chart-card > div > p:first-child {
	font-weight: 800;
}

.chart-card > div > div {
	width: 100%;
	display: flex;
	justify-content: center;
}

.progress {
	height: 30px;
}

.progress-container {
	overflow: hidden;
	border: 1px solid black;
	width: 260px;
	height: 30px;
	margin-bottom: 10px;
}

.my-progress > div {
	flex-direction: column;
}

.my-progress > div > p {
	text-align: left;
	margin: 0;
	padding: 4px 0;
}


@media only screen and (min-width: 900px) {
	.overview {
		padding: 10px;
	}

	.overview-title {
		width: 380px;
	}

	.charts-container {
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
		gap: 50px;
	}

	.chart-card {
		width: 320px;
	}
}
