.body {
	background: #fff;
	padding: 50px 10px;
}

.body .banner {
	display: none;
}

.body form {
	margin: 0 auto;
	/* background-color: var(--grey); */
	padding: 40px 10px;
	width: 330px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.body form h3 {
    color: var(--red);
    font-weight: 700;
    font-size: 30px;
}


.body form label {
	display: block;    width: 100%;
   
}

.body form input {
    margin-top: 6px;
	border-radius: 22px;
   min-width: 100%;
	padding: 8px 12px;
	display: block;
}

.body form button {
	display: block;
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 8px;
    font-size: 22px;
    border-radius: 20px;
    margin: 20px 0 0 ;
}

.body form button:hover {
background-color: #c11717;

}