.body {
	background: #fff;
	padding: 50px 10px;
}

.banner {
	display: none;
}

.body form {
	margin: 0 auto;
	padding: 40px 10%;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.body form h3 {
	color: var(--red);
	font-weight: 700;
	font-size: 30px;
}

.body form label {
	display: block;
	width: 100%;
}

.body form input {
	margin-top: 6px;
	border-radius: 22px;
	min-width: 100%;
	padding: 8px 12px;
	display: block;
}

.body form button {
	display: block;
	width: 100%;
	background-color: var(--red);
	color: var(--white);
	font-weight: 800;
	padding: 8px;
	font-size: 22px;
	border-radius: 20px;
	margin: 20px 0 0;
}

.body form button:hover {
	background-color: #c11717;
}

.loadingStatus {
	width: 140px;
}

.loadingPage {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1200px) {
	.body {
		display: flex;
		padding: 0;
	}

	.body form h3 {
		font-size: 4vh;
	}

	.body form label {
		font-size: 2.6vh;
	}

	.body form input {
		margin-top: 0.8vh;
		border-radius: 22px;
		padding: 0.6vh 12px;
	}

	.banner {
		position: relative;
		display: inline-block;
		width: 50%;
		margin: 0 auto;
	}

	.banner h2 {
		color: #fff;
		font-weight: 800;
	}

	.banner img {
		display: block;
		width: 100%;
		height: 100vh;
	}

	.body form {
		width: 50%;
		padding: 50px 10%;
	}

	.color-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ee4343b8;
		display: grid;
		justify-content: center;
		padding-top: 20%;
	}
}
