@import url("../../../Home.css");

.sidebar {
	grid-area: side;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sidebar-head {
	text-align: center;
	border-bottom: solid 2px var(--grey);
	margin: 0 30px;
}

.sidebar-head h2 {
	margin: 30px 0 10px 0;
	font-weight: 700;
	color: var(--red);
}

.sidebar-head p {
	font-weight: 800;
	margin-bottom: 20px;
}

.side-links {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

/* ACTIVE LINK */
.side-links a.active {
	color: var(--red);
}

.side-links li a {
	text-decoration: none;
	color: var(--black);
	font-weight: 700;
}

.side-links li a:hover {
	transition: color 0.3s;
	color: var(--red);
}

@media only screen and (min-width: 900px) {
	.sidebar-head h2 {
		padding-top: 0;
	}

	.side-links {
		padding-left: 60px;
		margin-top: 50px;
		flex-direction: column;
		gap: 40px;
	}

	.sidebar,
	.side-links li a {
		background-color: var(--black);
		color: var(--white);
	}
}
