
nav{
    padding: 20px 30px;
     display: flex;
    justify-content: space-between;
}


.nav-logo{
    width: 200px;
}

.nav-links{
    display: none;
    gap: 20px;
  
}

.nav-links li {
      list-style: none;
      
}
.nav-links li a {
      text-decoration: none;
      
}


@media only screen and (min-width: 900px) {
nav{
    padding: 40px 70px 40px 70px;
   
}

.nav-links{
    display: flex;
}

nav > button {
    display: none;
}

.nav-logo{
    width: 200px;
}
}